.datos2 {
    margin: 1rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
    border: 2px;
    margin-top: 30%;
    justify-items: center;
    justify-content: space-between;

    ion-label {
        font-family: hp556;
        font-size: small;
        font-weight: bold;
    }
    span {
        font-family: hp556;
        font-size: small;
        font-weight: bold;
    }
    ion-input {
        font-family: hp556;
        font-size: small;
        font-weight: bold;
    }
}

div h4 {
    font-weight: bold;
    color: #912020;
    text-align: center;
    margin-top: 30%;
    position: relative;
    font-family: "BebasBold";
}

.titulo {
    font-family: BebasBold;
}

span.circle-grey ion-img {
    position: absolute;
    width: 20%;
    //height:5rem;
    border-radius: 50%;
    margin: auto;
    top: 28%;
    left: 0;
    bottom: 10;
    right: 0;
}

.botones button {
    text-align: center;
    margin-left: 30%;
    width: 10rem;
    height: 2.3rem;
    border-radius: 60px;
    background-color: #3da631;
    color: #ffffff;
    font-family: hp556;
}

.datos2 ion-card {
    display: flex;
    text-align: center;
    width: auto;
    height: 20rem;
}

.datos2 ion-chip {
    width: 95%;
    margin-bottom: 5%;
}

.datos2 .fijo {
    font-weight: bold;
    margin-top: 50%;
}

.logo {
    position: relative;
    //display:block;
    margin: auto;
}

.titulo {
    margin-top: 25%;
    h4 {
        color: #bf1a24;
        font-weight: bold;
        font-family: "BebasBold";
        font-size: x-large;
    }
}
ion-chip {
    border-color: black;
}

.botones {
    margin-bottom: 5%;
}

ion-label {
    font-weight: bold;
}

ion-buttons {
    position: fixed;
    margin-left: 20px;
    margin-top: 14px;
    max-width: 40px;
    ion-img {
        padding: 2px;
        width: 60px;
    }
}

.tope span {
    width: 100%;
    position: fixed;
    background-color: #aaafb4;
    height: 26px;
    top: 62px;
    z-index: 1;
}

.logosepro ion-img {
    position: fixed;
    top: 18px;
    left: auto;
    z-index: 2;
}

div.logosepro {
    display: flex;
    justify-content: center;
}
