.negrita {
    font-family: hp556;
}

.imagen {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 0;
    left: 0;
    right: 0;
}
.contacto{
    width: 6em;
    height: 6em;
    border-radius: 50%;

    margin-top: 0%;
    margin-bottom: 0;
    display:flex;
   justify-content: space-evenly;

}
.mensaje{
    margin-right: 30%;
    margin-left: 0;
}

.titulo {
    font-family: hp556;
    position: relative;
    margin-top: 7rem;
    margin-left: 15%;
    margin-right: 15%;
}

.titulo ion-label {
    font-size: 2vm;
    text-align: center;
    border: 3px solid #4a4a4a;
    display: block;
    border-radius: 60px;
    font-size: 120%;
}

.datos {
    margin-top: 20%;
    margin-left: 18%;
    bottom: 10;
    margin-right: 18%;
}

.datos ion-item {
    padding: 0px !important;
    margin: 0px !important;
}

.datos {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.todosbotones {
    margin-top: 5%;
    //margin-left: 20%;
    bottom: 10;
    //margin-right: 20%;
    display: flex;
    justify-content: center;
    //align-items: center;
    text-align: center;
}

.pago button {
    text-align: center;
    margin-right: 25%;
    border-left: 25%;
    margin-left: 0%;
    width: 9em;
    height: 2.3em;
    border-radius: 60px;
    background-color: #2a931b;
    color: #ffffff;
    
}
.bpago{
    margin-right: 5%;
}
.botones{
    display: flex;
    align-content: space-evenly;
}
.cancelar-servicio button {
    border:0;
    text-align: center;
    margin-right: 0%;
    //margin-left: 25%;
    width: 9em;
    height: 2.3em;
    border-radius: 60px;
    background-color: #fc5759;
    color: #ffffff;
}
.calificar button {
    text-align: center;
    margin-left: 0rem;
    width: 12em;
    height: 2.3em;
    border-radius: 60px;
    margin-top: 10%;
    background-color: #fc5759;
    color: #ffffff;
}

.ruta {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 30%;
    margin-right: 50%;
    background-color: #ffffff;
}

.metodo-pago {
    text-align: center;
    top: 50%;
    margin-left: 20%;
    bottom: 0;
    margin-right: 20%;
    background-color: #ffffff;
}

.botonruta {
    display: block;
    text-align: center;
    bottom: -60%;
}

.botonruta ion-img {
    text-align: center;
    width: 7em;
    height: 7em;
}

.metodo-pago ion-select {
    background-color: #d8d6d7;
    border-radius: 60px;
}

ion-buttons{
    margin-left: 20px;
    margin-top: 14px;
    max-width: 40px;
    ion-img{
        padding: 2px;
        width: 60px;
    }
}

.tope span {
    width: 100%;
    position: absolute;
    background-color: #aaafb4;
    height: 26px;
    top: 62px;
    z-index: 1;
}

.logosepro ion-img {
    position: absolute;
    top: 18px;
    left: auto;
    z-index: 2;
}

div.logosepro {
    display: flex;
    justify-content: center;
}
