<ion-content>
  
  <div>
    <ion-buttons slot="start">
        <ion-img src="assets/img/retroceder.png" (click)="regresar()"></ion-img>
    </ion-buttons>
    <div class="tope">
      <span>
      </span>
      <div class="logosepro">
        <ion-img style="width: 160px; height: 150spx;" src="assets/img/logosepro.png"></ion-img>
      </div>
    </div>
  </div>

  
  <div class="titulo">
    <ion-label>Solicitud {{datosrecibidos.des.estado}}</ion-label>
    

  </div>
  <div class="imagen">   
    <div class="logo">
      <ion-img  src="assets/img/perfilcliente.png"></ion-img>
      
    </div>
    <div class="contacto" *ngIf=" datosrecibidos.des.estado == 'en proceso'" >
      <ion-img  class="mensaje" src="assets/img/mensaje.png"></ion-img>
      <ion-img  class="llamada"src="assets/img/llamada.png"></ion-img>

    </div>
  </div>
  <div class="datos">
    
    <div class="datosChofer" *ngIf=" datosrecibidos.des.servicio == 'Chofer'" >
      
      <ion-label class="negrita ">Servicio:</ion-label>
      <ion-label> {{datosrecibidos.des.servicio}}</ion-label>
    
      <ion-label class="negrita "> <br/>Fecha de inicio:</ion-label>
      <ion-label> {{datosrecibidos.des.fechaini}}</ion-label>

      <ion-label class="negrita "> <br/>Hora de inicio: </ion-label>
      <ion-label> {{datosrecibidos.des.horaini}}</ion-label>

      <ion-label class="negrita "> <br/>Fecha de Finalización: </ion-label>
      <ion-label> {{datosrecibidos.des.fechafin}}</ion-label>

      <ion-label class="negrita "> <br/>Hora de Finalización: </ion-label>
      <ion-label> {{datosrecibidos.des.horafin}}</ion-label>

      <ion-label class="negrita "> <br/>Lugar: </ion-label>
      <ion-label> {{datosrecibidos.des.lugarini}}</ion-label>

      <ion-label class="negrita "> <br/>Vehículo: </ion-label>
      <ion-label *ngIf=" datosrecibidos.des.vehiculo == true" > Sí</ion-label>
      <ion-label *ngIf=" datosrecibidos.des.vehiculo != true" > No</ion-label>

      <ion-label class="negrita "> <br/>Chofer Guardespaldas: </ion-label>
      <ion-label *ngIf=" datosrecibidos.des.guardaespalda == true" > Sí</ion-label>
      <ion-label *ngIf=" datosrecibidos.des.guardaespalda != true" > No</ion-label>
      <ion-label class="negrita "> <br/>Monto: </ion-label>
      <ion-label> {{datosrecibidos.des.monto}}</ion-label>
      <ion-label class="negrita "> <br/>Método de pago: </ion-label>
      <ion-label *ngIf=" datosrecibidos.des.pago == 'tarjeta'" >Tarjeta crédito/débito</ion-label>
      <ion-label *ngIf=" datosrecibidos.des.pago == 'efectivo'" >Efectivo</ion-label>


    </div>
    <div class="datosChofer" *ngIf=" datosrecibidos.des.servicio == 'Custodia'" >

      <ion-label class="negrita ">Servicio:</ion-label>
      <ion-label> {{datosrecibidos.des.servicio}}</ion-label>

      <ion-label class="negrita "> <br/>Fecha de inicio:</ion-label>
      <ion-label> {{datosrecibidos.des.fechaini}}</ion-label>

      <ion-label class="negrita "> <br/>Hora de inicio: </ion-label>
      <ion-label> {{datosrecibidos.des.horaini}}</ion-label>

      <ion-label class="negrita "> <br/>Lugar de origen: </ion-label>
      <ion-label> {{datosrecibidos.des.lugarini}}</ion-label>
      <ion-label class="negrita "> <br/>Lugar de destino: </ion-label>
      <ion-label> {{datosrecibidos.des.lugarfin}}</ion-label>

      <ion-label class="negrita "> <br/>Número de vehículos: </ion-label>
      <ion-label> {{datosrecibidos.des.numerovehiculo}}</ion-label>

      <ion-label class="negrita "> <br/>Incluir candado satelital:</ion-label>
      <ion-label *ngIf=" datosrecibidos.des.candado == true" > Sí</ion-label>
      <ion-label *ngIf=" datosrecibidos.des.candado != true" > No</ion-label>
      <ion-label class="negrita "> <br/>Monto: </ion-label>
      <ion-label> {{datosrecibidos.des.monto}}</ion-label>
      <ion-label class="negrita "> <br/>Método de pago: </ion-label>
      <ion-label *ngIf=" datosrecibidos.des.pago == 'tarjeta'" >Tarjeta crédito/débito</ion-label>
      <ion-label *ngIf=" datosrecibidos.des.pago == 'efectivo'" >Efectivo</ion-label>
      
    </div>

    <div class="datosChofer" *ngIf=" datosrecibidos.des.servicio == 'Guardia'" >
      <ion-label class="negrita ">Servicio:</ion-label>
      <ion-label> {{datosrecibidos.des.servicio}}</ion-label>

      <ion-label class="negrita "> <br/>Fecha de inicio:</ion-label>
      <ion-label> {{datosrecibidos.des.fechaini}}</ion-label>

      <ion-label class="negrita "> <br/>Hora de inicio: </ion-label>
      <ion-label> {{datosrecibidos.des.horaini}}</ion-label>

      <ion-label class="negrita "> <br/>Fecha de Finalización: </ion-label>
      <ion-label> {{datosrecibidos.des.fechafin}}</ion-label>

      <ion-label class="negrita "> <br/>Hora de Finalización: </ion-label>
      <ion-label> {{datosrecibidos.des.horafin}}</ion-label>

      <ion-label class="negrita "> <br/>Lugar: </ion-label>
      <ion-label> {{datosrecibidos.des.lugarini}}</ion-label>

      <ion-label class="negrita "> <br/>Número de guardias: </ion-label>
      <ion-label> {{datosrecibidos.des.numeroguardias}}</ion-label>
      <ion-label class="negrita "> <br/>Monto: </ion-label>
      <ion-label> {{datosrecibidos.des.monto}}</ion-label>
      <ion-label class="negrita "> <br/>Método de pago: </ion-label>
      <ion-label *ngIf=" datosrecibidos.des.pago == 'tarjeta'" >Tarjeta crédito/débito</ion-label>
      <ion-label *ngIf=" datosrecibidos.des.pago == 'efectivo'" >Efectivo</ion-label>

    </div>
    <div class="datosChofer" *ngIf=" datosrecibidos.des.servicio == 'Transporte'" >
      <ion-label class="negrita ">Servicio:</ion-label>
      <ion-label>{{datosrecibidos.des.servicio}}</ion-label>

      <ion-label class="negrita "> <br/>Fecha de inicio:</ion-label>
      <ion-label> {{datosrecibidos.des.fechaini}}</ion-label>

      <ion-label class="negrita "> <br/>Hora de inicio: </ion-label>
      <ion-label> {{datosrecibidos.des.horaini}}</ion-label>

      <ion-label class="negrita "> <br/>Lugar de origen: </ion-label>
      <ion-label> {{datosrecibidos.des.lugarini}}</ion-label>
      <ion-label class="negrita "> <br/>Lugar de destino: </ion-label>
      <ion-label> {{datosrecibidos.des.lugarfin}}</ion-label>
      <ion-label class="negrita "> <br/>Monto: </ion-label>
      <ion-label> {{datosrecibidos.des.monto}}</ion-label>
      <ion-label class="negrita "> <br/>Método de pago: </ion-label>
      <ion-label *ngIf=" datosrecibidos.des.pago == 'tarjeta'" >Tarjeta crédito/débito</ion-label>
      <ion-label *ngIf=" datosrecibidos.des.pago == 'efectivo'" >Efectivo</ion-label>
    
    </div>
    
    

  </div>
  
  
  <div class="todosbotones">
    <div class="calificar" *ngIf=" datosrecibidos.des.estado == 'finalizado'" >
      <button ion-button color="secondary" (click)="calificar()">Calificar</button>
    </div>
    <div class="botones" *ngIf=" datosrecibidos.des.estado != 'finalizado'" >
      <div class="bpago" *ngIf=" datosrecibidos.des.estado != 'pendiente'" >
        <div class="pago">
          <button ion-button color="secondary" (click)="pago()">Realizar Pago</button>
        </div>
      </div>
      <!--UBicacion del boton cancelar servicio-->
      <div class="cancelar-servicio">
        <button ion-button color="secondary" (click)="cancelar() " >Cancelar</button>
      </div>
    </div>
    

  </div>
  


</ion-content>
