<ion-header>
  
</ion-header>

<ion-content>
  <div class="front">
    
    <div class="regresar">
      <ion-img src="assets/img/retroceder.png" (click)="cancelar()"></ion-img>
      
    </div>
    <div class="titulo">
      <h1>CHOFER SEGURO</h1>
      <div class="logo">
        <ion-img style="width: 100px; height: 100px;" src="assets/img/choferlogo.png"></ion-img>
      </div>
    </div>
    <div class="datos">
      
      <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" validate>
        <ion-list class="dat">
          <ion-label>Fecha de Inicio</ion-label>
          <div class="seleccion" id="open-modal">
            <ion-item button="true" id="open-date-input" >
              <ion-label>{{dateValue | date: 'dd/MM/yyyy'}}</ion-label>
              <ion-icon name="calendar-clear-outline"  item-right></ion-icon>
              <ion-modal trigger="open-modal">
                <ion-popover trigger="open-date-input" show-backdrop="false">
                <ng-template>
                  <ion-content >
                    <ion-datetime formControlName="fechaInicio" [max]="maxFecha" [min]="minFecha" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" #popoverDatetime
                    presentation="date"
                    (ionChange)="dateValue =popoverDatetime.value">   
                      <div slot="title">     
                      </div>
                    </ion-datetime>
                  </ion-content>
                </ng-template>
              </ion-popover>
              </ion-modal>
            </ion-item> 
          </div>
    
          <ion-label>Hora de Inicio</ion-label>
          <div class="seleccion"  id="open-modal2">
            <ion-item button="true" id="open-date-input2" >
              <ion-label>{{dateValue2 | date: 'hh:mma'}}</ion-label>
              <ion-icon name="time-outline" item-right></ion-icon>
              <ion-modal class="horaval" trigger="open-modal2"> 
                <ion-popover trigger="open-date-input2" show-backdrop="false">
                <ng-template>
                    <ion-datetime hour-cycle="h23" formControlName="horaInicio" displayFormat="hh:mma" presentation="time" #popoverDatetime
                    (ionChange)="dateValue2 =popoverDatetime.value"> 
                    </ion-datetime>
                </ng-template>
              </ion-popover>
              </ion-modal>
            </ion-item> 
          </div>
          <ion-label>Fecha de Finalización</ion-label>
          <div class="seleccion" id="open-modal3" >
            <ion-item button="true" id="open-date-input3" >
              <ion-label>{{dateValue3 | date: 'dd/MM/yyyy'}}</ion-label>
              <ion-icon name="calendar-clear-outline" item-right></ion-icon>
              <ion-modal trigger="open-modal3">    
                <ion-popover trigger="open-date-input3" show-backdrop="false">
                <ng-template>
                  <ion-content >
                    <ion-datetime formControlName="fechaFinalizacion" [max]="maxFecha" [min]="minFecha" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" #popoverDatetime
                    presentation="date"
                    (ionChange)="dateValue3 =popoverDatetime.value">   
                      <div slot="title">     
                      </div>                      
                    </ion-datetime>
                  </ion-content>
                </ng-template>
              </ion-popover>
              </ion-modal>
            </ion-item>
          </div>

          <ion-label>Hora de Finalizacion</ion-label>
          <div class="seleccion" id="open-modal4">
            <ion-item button="true" id="open-date-input4" >
              <ion-label>{{dateValue4 | date: 'hh:mma'}}</ion-label>
              <ion-icon name="time-outline"  item-right></ion-icon>
              <ion-modal class="horaval" trigger="open-modal4"> 
                <ion-popover trigger="open-date-input4" show-backdrop="false">
                <ng-template>
                    <ion-datetime hour-cycle="h23" formControlName="horaFinalizacion" displayFormat="hh:mma" presentation="time" #popoverDatetime
                    (ionChange)="dateValue4 =popoverDatetime.value"> 
                    </ion-datetime>
                </ng-template>
              </ion-popover>
              </ion-modal>
            </ion-item>
          </div>

        </ion-list>

      </form>

    </div>
    <div class="mapa">
        <div class="ubicacion">
          <ion-label>Elegir Ubicación</ion-label>
          <button ion-button color="secondary" (click)="addDirection(0)">Abrir mapa</button>
        </div>   
    </div>

    <div class="check-vehiculo">
      <ion-checkbox [(ngModel)]="vehiculo"  (ionChange)="update()"></ion-checkbox>
      <ion-label>Incluir vehículo</ion-label>
    </div>
    <div class="check-chofer">
      <ion-checkbox [(ngModel)]="guardaespalda"  (ionChange)="update2()"></ion-checkbox>
      <ion-label>Incluir chofer guardaespaldas</ion-label>
    </div>
    
    <div class="botones">
      <div class="solicitar-servicio">
        <button ion-button color="secondary" (click)="solicitud()">Solicitar Servicio</button>
      </div>
     

    </div>
  </div>
  <div class="back">
    <ion-img style="width: 100; height: 200;" src="../../assets/img/appseprovectores-01.png"></ion-img>
  </div>
</ion-content>
