<ion-content scrool-y=true>

  <div>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-img src="assets/img/menuHamburguesa.png"></ion-img>
      </ion-menu-button>
    </ion-buttons>
    <div class="tope">
      <span>
      </span>
      <div class="logosepro">
        <ion-img style="width: 160px; height: 150spx;" src="assets/img/logosepro.png"></ion-img>
      </div>
    </div>
  </div>

  <div class="sucursales">
    <ion-list>

      <ion-item class="matriz">
        <div class="sucursalContainer">
          <div>
            <img style="width:5rem; padding:0 0.5rem" src="assets/img/sucursalesicono0.png">
          </div>
          <ion-label style="font-family: BebasBold; padding:0 0.5rem">MATRIZ NORTE</ion-label>
        </div>
      </ion-item>
    </ion-list>
    <div class="datos">
      <ion-list>
        <ion-item>
          <ion-label>
            <ion-icon name="location"></ion-icon>Cdla. Alborada 6ta etapa MZ 628 V15
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="call"></ion-icon><a style="color: black; margin-right: 1rem;"
              href="tel:0990692415">0995544035</a>
            <a style="color: black" href="tel:046035059">(593-4) 6035059</a>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="mail"></ion-icon><a style="color: black"
              href="mailto:info@seproamerica.com.ec">info@seproamerica.com.ec</a>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="globe"></ion-icon><a style="color: black"
              href="https://seproamerica.com.ec">www.seproamerica.com.ec </a>
          </ion-label>
        </ion-item>
        <ion-item style="max-height: 300px; margin-top: 0.8rem; text-align: justify;">
          <ion-text>Contamos con un equipo de élite altamente
            calificado, entrenado y comprometido con
            vocación para salvaguardar lo que más le
            interesa, utilizando técnicas de seguridad
            innovadoras a través de asesores en
            diversas áreas.</ion-text>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div class="mapa">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4170.77371317333!2d-79.90875756847907!3d-2.142140198780045!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8c026e0dc9906dc5!2sSeproamerica+Cia.+Ltda.!5e0!3m2!1ses-419!2sec!4v1565103120996!5m2!1ses-419!2sec"
      width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
  </div>
</ion-content>