<ion-header>

</ion-header>

<ion-content>
  <div class="tope">
    <span> 
    </span>
    <div class="logosepro">
      <ion-img style="width: 150px; height: 150px;" src="assets/img/logosepro.png"></ion-img>
    </div>
  </div>

	<div class="datos2">
    <ion-list>
      <ion-chip outline color="dark">
           Detalles del servicio
      </ion-chip>
    </ion-list>
    <span class="circle-grey">
      <div class="logo">
        <ion-img  src="assets/img/perfilcliente.png"></ion-img>
      </div>
    </span>
    <div class="iconos">
      <ion-icon size ="large" name="chatbubble-ellipses"></ion-icon>
      <ion-icon size ="large" name="call"></ion-icon>     
     
    </div>

    <div class="detalles">
      <div class="servicio">
        <label class="fijo">Servicio: </label>
      <label class="variable"></label>
      </div>
      <div class="lugar">
        <label class="fijo">Lugar: </label>
      <label class="variable"></label>
      </div>

      <div class="finicio">
        <label class="fijo">Fecha: </label>
      <label class="variable"></label>
      </div>
      
      <div class="hinicio">
        <label class="fijo">Hora: </label>
      <label class="variable"></label>
      </div>

      <div class="ffin">
        <label class="fijo">Fecha fin: </label>
      <label class="variable"></label>
      </div>
      <div class="monto">
        <label class="fijo">Monto: </label>
      <label class="variable"></label>
      </div>

      <div class="metodopago">
        <label class="fijo">Metodo de pago: </label>
      <label class="variable"></label>
      </div>
      <div class="ruta">
        <label class="fijo">Ver ruta:</label>
      </div>
    </div>
  </div>

  <div class="botones">
    <IonButton color="success">Realizar pago</IonButton>
    <IonButton color="danger">Cancelar</IonButton>
  </div>

 


</ion-content>
