.tope span{
    width:100%;
   position:absolute;
   left:0;
   background-color:#aaafb4;
   height:26px;
   top:80px;
}


div h4{
    font-weight: bold;
    color:#912020;
    text-align: center;
    margin-top: 5rem;
}


.botones button{
    text-align:center;
    width: 10rem;
    height: 2.3rem;
    border-radius: 60px ;
    background-color:#3887bd;
    color:#ffffff;
    margin-right: 5%;;
    justify-content: space-between;
  }

.botones{
    margin-left: 5%;
    display: flex;
}

.logo{
    display:block;
   margin:auto; 
}

ion-chip{
    width:25em;
    height: 4.2em;
    //align-self: center;
    background-color: #ced4da;
}

.estado{
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size:small;
}

.topservicios{
    justify-content: space-between;
    //font-co
    display: flex;
    flex-direction: row;
    .fecha{
        margin-left: 0em;
        margin-right: 2em;
        font-size: 0.8em;
        //justify-content:left;
        padding-left: 0%;
    }
    .tiposervicio{
        //justify-content: center;
        font-weight: bold;
        width: 5em;
        padding-right: 3em;
        padding-left: 3em;
        //margin-left: 30px;
    }
    .detalles{
        font-size: 0.9em;
        //justify-content: center;
        margin-right: 0em;
        margin-left: 2em;
        padding-right: 0%;
        //justify-content: right;
    }
}

ion-menu-button {
    margin-left: 20px;
    margin-top: 10px;
    min-width: 50px;
    ion-img{
        padding: 2px;
        width: 60px;
        opacity: 0.6;
    }
}

.tope span {
    width: 100%;
    position: absolute;
    background-color: #aaafb4;
    height: 26px;
    top: 62px;
    z-index: 1;
}

.logosepro ion-img {
    position: absolute;
    top: 18px;
    left: auto;
    z-index: 2;
}

div.logosepro {
    display: flex;
    justify-content: center;
}

.datos2{
    display: flex;
    justify-content: center;
}