

<ion-content>
  <div>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-img src="assets/img/menuHamburguesa.png"></ion-img>
      </ion-menu-button>
    </ion-buttons>
    <div class="tope">
      <span>
      </span>
      <div class="logosepro">
        <ion-img style="width: 160px; height: 150spx;" src="assets/img/logosepro.png"></ion-img>
      </div>
    </div>
  </div>


  <div class="titulo">
    <h4>Historial de servicios</h4>
  </div>


	<div class="datos2">
    <ion-list>
      <div *ngFor="let servi of mapaServicios" (click)="verdescripcion(servi)">
        <ion-chip  button >
        <div class="serviciosdetalles">
          <div class="topservicios">
            <div>
              <ion-label class="fecha">
                {{servi.fechaini}}
              </ion-label> 
            </div>
            
              <div class="bottservicios">
                <ion-label class="tiposervicio">
                  {{servi.servicio}}
                </ion-label>
                <label class="estado">
                  {{servi.estado}}
                </label>
              </div>  
              <div>
                <ion-label class="detalles">
                  Ver detalles
                </ion-label>
              </div>
            </div>
              
          
        </div>     
      </ion-chip>
      </div>
      
    </ion-list>
  </div>


 


</ion-content>

