<ion-header>
  
</ion-header>

<ion-content>
  <div class="front">
    <div class="regresar">
      <ion-img src="assets/img/retroceder.png" (click)="cancelar()"></ion-img>
      
    </div>
    <div class="titulo">
      <h1>CUSTODIA ARMADA</h1>
      <div class="logo">
        <ion-img style="width: 100px; height: 100px;" src="assets/img/custodialogo.png"></ion-img>
      </div>
    </div>
    <div class="datos">
      <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" validate>
        <ion-list class="dat">
          <ion-label>Fecha de Inicio</ion-label>
          <div class="seleccion" id="open-modal5">
            <ion-item button="true" id="open-date-input5" >
              <ion-label>{{dateValue5 | date: 'dd/MM/yyyy'}}</ion-label>
              <ion-icon name="calendar-clear-outline"  item-right></ion-icon>
              <ion-modal trigger="open-modal5">    
                <ion-popover trigger="open-date-input5" show-backdrop="false">
                <ng-template>
                  <ion-content >
                    <ion-datetime formControlName="fechaInicio" [min]= "minFecha" [max]="maxFecha" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" #popoverDatetime
                    
                    (ionChange)="dateValue5 =popoverDatetime.value">   
                      <div slot="title">     
                      </div>
                      
                    </ion-datetime>
                  </ion-content>
                </ng-template>
              </ion-popover>
              </ion-modal>
            </ion-item>
          </div>
          
          <ion-label>Hora de Inicio</ion-label>
          <div class="seleccion"id="open-modal6">
            <ion-item button="true" id="open-date-input6" >
              <ion-label>{{dateValue6 | date: 'hh:mma'}}</ion-label>
              <ion-icon name="time-outline"  item-right></ion-icon>
              <ion-modal class="horaval" trigger="open-modal6"> 
                <ion-popover trigger="open-date-input6" show-backdrop="false">
                <ng-template>
                    <ion-datetime hour-cycle="h23" formControlName="horaInicio" displayFormat="hh:mma" presentation="time" #popoverDatetime
                    (ionChange)="dateValue6 =popoverDatetime.value"> 
                    </ion-datetime>
                </ng-template>
              </ion-popover>
              </ion-modal>
            </ion-item>  
          </div>
        </ion-list>
      </form>
    </div>
    <div class="mapa">
     
        <div class="ubicacion">
          <ion-label>Ubicación de origen</ion-label>
          <button ion-button color="secondary" (click)="addDirection(0)">Abrir mapa</button>
        </div>
        
        <div class="ubicacion"> 
          <ion-label>Ubicación de destino</ion-label>
          <button ion-button color="secondary" (click)="addDirection(1)">Abrir mapa</button>
        </div>  
    </div>
    <div class="cantidad-vehiculos">
        <ion-label>Número de vehículos</ion-label>
        <div class="cantidad">
          <ion-icon class="decremento" name="remove-circle-outline" (click)="decrement()"></ion-icon>
          <ion-label> {{currentNumber}}</ion-label>
           
          <ion-icon class="aumento" name="add-circle-outline" (click)="increment()"></ion-icon>
        </div>
    </div>
    <div class="check-candado">
      <ion-checkbox [(ngModel)]="candado"  (ionChange)="update()"></ion-checkbox>
      <ion-label>Incluir candado satelital</ion-label>
    </div>
    <div class="botones">
      <div class="solicitar-servicio">
        <button ion-button color="secondary" (click)="solicitud()">Solicitar Servicio</button>
      </div>
    
  
    </div>
  </div>
  
  <div class="back">
    <ion-img style="width: 100; height: 200;" src="../../assets/img/appseprovectores-01.png"></ion-img>
  </div>
  
</ion-content>
