<ion-content class="ion-no-padding background">

  <ion-row class="row logo">
    <div class="container-img">
      <img src="../../assets/app sepro vectores-30.png" class="img-logo">
    </div>
  </ion-row>

  <div class="datosinput item-background-color">
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" validate>

      <ion-list class="datos m-0 p-0">


        <div class="itemdatos">

          <ion-label class="centrar-text">Usuario</ion-label>
          <ion-input formControlName="email" type="text">
            <ion-icon id="ico-mail" name="person" item-start class="icono-input"></ion-icon>
          </ion-input>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
            Es necesario un Usuario Mobil.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.email">
            Ingrese un correo valido.
          </span>

          <ion-label class="centrar-text mt-2">Contraseña</ion-label>
          <ion-input type="{{showPassword ? 'text' : 'password'}}" formControlName="password" input maxlength="12"
            required>

            <button class="btn-eye" type="button" (click)="togglePasswordClick()">
              <ion-icon [hidden]="showPassword" name="eye-off-outline"></ion-icon>
              <ion-icon [hidden]="!showPassword" name="eye-outline"></ion-icon>
            </button>
          </ion-input>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
            Es necesario ingresar una contraseña.
          </span>    

          <!--
                      <ion-label class="centrar-text mt-2">Ingrese número de celular</ion-label>
          <ion-item lines="full">

            <ion-input inputmode="numeric" formControlName="mobile" input type="tel " maxlength="10" required>
            </ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.required">
            Es necesario un número de celular.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.pattern">
            Ingrese un número de celular valido.
          </span>
          -->

        </div>

        <div class="botones">
          <ion-col>
            <button  ion-button class="ingresar">Ingresar</button>
          </ion-col>
        </div>
      </ion-list>
    </form>

    <span id="lbl-pagina" >www.seproamerica.com.ec</span>
  </div>
</ion-content>