
<ion-content fullscreen>
  <div>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-img src="assets/img/menuHamburguesa.png"></ion-img>
      </ion-menu-button>
    </ion-buttons>
    <div class="tope">
      <span>
      </span>
      <div class="logosepro">
        <ion-img style="width: 160px; height: 150spx;" src="assets/img/logosepro.png"></ion-img>
      </div>
    </div>
  </div>


  <h4>Elija su método de pago</h4>

  <div name="metodospago">
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img  src="assets/img/tarjetas2.png">
        </ion-thumbnail>
        <ion-label>Tarjeta de crédito/débito</ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/img/dinero.png">
        </ion-thumbnail>
        <ion-label>Efectivo</ion-label>
      </ion-item>
    </ion-list>


  </div>
  
  

  
   
 
</ion-content>