<ion-content no-scroll padding class="background">
  <div class="tope">
    <div class="logosepro">
      <ion-img style="width: 150px; height: 150px;" src="assets/img/logosepro.png" class="img-logo"></ion-img>
    </div>
  </div>

  <div class="container">
    <!--<ion-img src="../../assets/img/app sepro vectores-07.png" style="max-width:100%;"></ion-img>-->
    <div class="rectangle"></div>
    <ion-text class="centered">REGISTRO</ion-text>
  </div>

  <div class="datosinput item-background-color">
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" validate>
      <ion-list class="datos">
        <div class="itemdatos">
          <ion-label>Nombres</ion-label>
          <ion-item lines="full">
            <ion-input formControlName="name" type="text"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
            Es necesario al menos un nombre.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
            Su nombre debe tener al menos 2 caracteres.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.pattern">
            Ingrese un nombre válido.
          </span>
        </div>

        <div class="itemdatos">
          <ion-label>Apellidos</ion-label>
          <ion-item lines="full">
            <ion-input formControlName="lastname" type="text"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.lastname.errors?.required">
            Es necesario al menos un apellido.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.lastname.errors?.minlength">
            Su apellido debe tener al menos 2 caracteres.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.lastname.errors?.pattern">
            Ingrese un apellido válido.
          </span>
        </div>

        <div class="itemdatos">
          <ion-label>Email</ion-label>
          <ion-item lines="full">

            <ion-input formControlName="email" type="text"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
            Es necesario que escriba un correo.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
            Por favor, ingrese un correo válido.
          </span>
        </div>

        <div class="itemdatos">
          <ion-item>
            <ion-label>Género</ion-label>
            <ion-select formControlName="f2_edudetail" placeholder="Escoja uno">
              <ion-select-option value="F">Femenino</ion-select-option>
              <ion-select-option value="M">Masculino</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="itemdatos">
          <ion-label>Número</ion-label>
          <ion-item lines="full">

            <ion-input formControlName="mobile" input type="tel " maxlength="10"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.required">
            Es necesario ingresar su cédula de identidad.
          </span>

        </div>

        
        <div class="itemdatos">
          <ion-label>Cédula de identidad</ion-label>
        <ion-item lines="full">
          
          <ion-input  formControlName="cedula" type="text" maxlength="10" required ></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.cedula.errors?.required">
          Es necesario ingresar su cédula de identidad.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.cedula.errors?.pattern">
          Solo se permiten caracteres numéricos.
        </span>
        <span class="error ion-padding" *ngIf="ingresoCedula()">
          Ingrese una cedula valida.
        </span>
        </div>

        <div class="itemdatos">
          <ion-label>Fecha de nacimiento</ion-label>
          <ion-item lines="full">
            <ion-input formControlName="bday" type="text" placeholder="AAAA-MM-DD"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.bday.errors?.required">
            Ingrese su fecha de nacimiento
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.bday.errors?.pattern">
            Ingrese una fecha válida
          </span>
        </div>

        <div class="itemdatos">
          <ion-label >Contraseña</ion-label>
          <ion-item lines="full">
            <ion-input type="{{showPassword ? 'text' : 'password'}}" formControlName="contrasenha" input maxlength="10"
            required>
            <button class="btn-eye" type="button" (click)="togglePasswordClick()">
              <ion-icon [hidden]="showPassword" name="eye-off-outline"></ion-icon>
              <ion-icon [hidden]="!showPassword" name="eye-outline"></ion-icon>
            </button>
          </ion-input>
          </ion-item>
          
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.contrasenha.errors?.required">
            Es necesario ingresar una contraseña.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.contrasenha.errors?.minlength">
            Ingrese una contraseña mayor a 8 caracteres.
          </span>
        </div>

        <ion-row>
          <div class="botones">
            <ion-col>

              <button ion-button class="guardar">Registrarse</button>
            </ion-col>
          </div>
        </ion-row>


      </ion-list>
    </form>
    <ion-row>
      <div class="container-terminos">
        <ion-item>
          <ion-label class="terminos">He leído y acepto las <span>políticas de privacidad</span></ion-label>
          <ion-checkbox (click)="onClick()" [(ngModel)]="condiciones" color="primary" slot="start" item-right>
          </ion-checkbox>
        </ion-item>
      </div>
    </ion-row>
  </div>
</ion-content>