<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" >
      <ion-header>
        <ion-toolbar class="logo" >
          <div class="imagen">
            <ion-img  src="assets/img/logosepro.png"></ion-img>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content scroll-y=true>
        <ion-menu-toggle auto-hide="false" text-center>
          <p align="center"><ion-img menuClose src="assets/img/backcliente.png" (click)="openPage()"></ion-img></p>
          <p ion-text header-subtitle> Hayleen Carrillo{{nombreur}} {{apellidour}}</p>
        </ion-menu-toggle>
        
        <div class="front">
          <ion-list class="opciones" lines="none">
            <ion-menu-toggle auto-hide="false">

              <div class="linea">
                <ion-img center src="assets/img/lineablanca.png"></ion-img>
              </div>
              
              <ion-item class="opcion" [routerDirection]="'root'" [routerLink]="'/servicios'">
                <ion-img menuClose src="assets/img/serviciosicono.png"></ion-img>
                <ion-label>
                  Servicios
                </ion-label>
                
              </ion-item>
              
              <div class="linea">
                <ion-img center src="assets/img/lineablanca.png"></ion-img>
              </div>

              <ion-item class="opcion" [routerDirection]="'root'" [routerLink]="'/historialservicios'">
                <ion-img menuClose src="assets/img/historialicono.png"></ion-img>
                <ion-label>
                  Historial de servicios
                </ion-label>
              </ion-item>

              <div class="linea">
                <ion-img center src="assets/img/lineablanca.png"></ion-img>
              </div>

              <ion-item class="opcion" [routerDirection]="'root'" [routerLink]="" style="--ion-background-color:rgb(107, 107, 107);">
                <ion-img menuClose src="assets/img/notificacionesicono.png"></ion-img>
                <ion-label>
                  Notificaciones
                </ion-label>
                
              </ion-item>

              <div class="linea">
                <ion-img center src="assets/img/lineablanca.png"></ion-img>
              </div>

              <ion-item class="opcion" [routerDirection]="'root'" [routerLink]=""style="--ion-background-color:rgb(107, 107, 107);">
                
                  <ion-img menuClose src="assets/img/carritoicono.png"></ion-img>
                
                <ion-label>
                  Carrito
                </ion-label>
              </ion-item>

              <div class="linea">
                <ion-img center src="assets/img/lineablanca.png"></ion-img>
              </div>

              <ion-item class="opcion" [routerDirection]="'root'" [routerLink]="'/metododepago'">
                <ion-img menuClose src="assets/img/tarjetasicono.png"></ion-img>
                <ion-label>
                  Tarjetas
                </ion-label>
              </ion-item>

              <div class="linea">
                <ion-img center src="assets/img/lineablanca.png"></ion-img>
              </div>

              <ion-item class="opcion" [routerDirection]="'root'" [routerLink]=""style="--ion-background-color:rgb(107, 107, 107);">
                <ion-img menuClose src="assets/img/chatsicono.png"></ion-img>
                <ion-label>
                  Chats
                </ion-label>
              </ion-item>

              <div class="linea">
                <ion-img center src="assets/img/lineablanca.png"></ion-img>
              </div>

              <ion-item class="opcion" [routerDirection]="'root'" (click) = "startScan()" style="--ion-background-color:rgb(107, 107, 107);">
                <ion-img menuClose src="assets/img/escanearicono.png"></ion-img>
                <ion-label>
                  Escanear código QR
                </ion-label>
              </ion-item>

              <div class="linea">
                <ion-img center src="assets/img/lineablanca.png"></ion-img>
              </div>

              <ion-item class="opcion" [routerDirection]="'root'" [routerLink]="'/sucursales'">
                <ion-img menuClose src="assets/img/sucursalesicono.png"></ion-img>
                <ion-label>
                  Sucursales
                </ion-label>
              </ion-item>      
            
              
              
            </ion-menu-toggle>
          </ion-list>
          
          <div class="cerrarsesion">
            <ion-item lines="none">
              <ion-img src="assets/img/cerrarsesion.png"></ion-img>
              <button [routerLink]="'/login'" ion-button>CERRAR SESION</button>
            </ion-item>  
            
          </div>
        </div>
        <div class="back">
          <ion-img  src="../../assets/img/appseprovectores-01.png"></ion-img>
        </div>
      </ion-content>
    </ion-menu> 
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
