<ion-header>

</ion-header>

<ion-content>
  <div class="front">
    <div>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-img src="assets/img/menuHamburguesa.png"></ion-img>
        </ion-menu-button>
      </ion-buttons>
      <div class="tope">
        <span>
        </span>
        <div class="logosepro">
          <ion-img style="width: 160px; height: 150spx;" src="assets/img/logosepro.png"></ion-img>
        </div>
      </div>
    </div>
  
    <div class="title">
      <ion-label class="center">SERVICIO EN CURSO</ion-label>
    </div>
    <div class="titulo">
      <h1>CUSTODIA ARMADA</h1>
      <div class="logo">
        <ion-img style="width: 100px; height: 100px;" src="assets/img/custodialogo.png"></ion-img>
      </div>
    </div>
    <div class="datos2">
      <ion-list>
        <ion-label class= "fijo">Encargado del Servicio</ion-label>
          <ion-chip outline color="dark" disabled = true>
            <ion-label>Ricardo Martinez{{nombreur}}</ion-label>
          </ion-chip>
          
          <ion-label class= "fijo"> Nombre del cliente </ion-label>
          <ion-chip outline color="dark" disabled = true>
            <ion-label> Carlos Carrillo{{apellidour}}</ion-label>
          </ion-chip>

          <ion-label class= "fijo">Contacto directo del cliente </ion-label>
          <ion-chip outline color="dark" disabled = true>
            <ion-label>0989898989{{celularur}}</ion-label>
          </ion-chip>
  
          <ion-label class= "fijo">Direccion del Servicio</ion-label>
          <ion-chip outline color="dark" disabled = true>
            <ion-label>Av. las Americas 320{{cedulaur}}</ion-label>
          </ion-chip>
  
          
          <ion-label class="negrita "> <br/>Fecha de inicio:</ion-label>
          <ion-label> 25/12/2022{{datosrecibidos}}</ion-label>

          <ion-label class="negrita "> <br/>Hora de inicio: </ion-label>
          <ion-label> 11:00pm{{datosrecibidos}}</ion-label>

          <ion-label class="negrita "> <br/>Fecha de Finalización: </ion-label>
          <ion-label>26/12/2022 {{datosrecibidos}}</ion-label>

          <ion-label class="negrita "> <br/>Hora de Finalización: </ion-label>
          <ion-label> 08:00am{{datosrecibidos}}</ion-label>
          
          <ion-label class="negrita "> <br/>Número de guardias: </ion-label>
          <ion-label> 3{{datosrecibidos}}</ion-label>
         
  
      </ion-list>
      </div>








   


      
      


   







    
  </div>


  <div class="back">
    <ion-img style="width: 10; height: 10;" src="../../assets/img/aguilarojafondo.png"></ion-img>
  </div>

</ion-content>