<ion-header>

</ion-header>

<ion-content>
  <div class="front">
    <div>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-img src="assets/img/menuHamburguesa.png"></ion-img>
        </ion-menu-button>
      </ion-buttons>
      <div class="tope">
        <span>
        </span>
        <div class="logosepro">
          <ion-img style="width: 160px; height: 150spx;" src="assets/img/logosepro.png"></ion-img>
        </div>
      </div>
    </div>
  
    <div class="title">
      <ion-label class="center">ELIJE EL SERVICIO QUE NECESITES</ion-label>
    </div>
    <div class="circle">
      <div class="corona">
        <ion-img style="width: auto; height: auto;" src="assets/img/corona.png"></ion-img>
      </div>
      <div class="circle-grey">
        <ion-img style="width: auto; height: auto;" src="assets/img/image.png"></ion-img>
      </div>

      <div class="circle-white-custodia" (click)="irPaginaCustodia()">
        <ion-img style="width: auto; height: auto;" src="assets/img/bordeblanco.png"></ion-img>
      </div>

      <div class="circle-yellow1-custodia" (click)="irPaginaCustodia()">
        <ion-img style="width: auto; height: auto;" src="assets/img/servicio1.png"></ion-img>
        <div class="text">
          <div class="textocustodia">
            <div class="texto">
              <ion-label class="center">CUSTODIA</ion-label>
              <ion-label class="center">ARMADA</ion-label>
            </div>
            <div class="datos">
              <div class="logo">
                <ion-img src="assets/img/custodialogonegro.png"></ion-img>
              </div>
              <div class="detalle">
                <button ion-button color="secondary">DETALLE</button>
              </div>
            </div>
          </div>
        </div>

      </div>





      <div class="circle-white-chofer" (click)="irPaginaChofer()">
        <ion-img style="width: auto; height: auto;" src="assets/img/bordeblanco.png"></ion-img>

      </div>
      <div class="circle-yellow1-chofer" (click)="irPaginaChofer()">
        <ion-img style="width: auto; height: auto;" src="assets/img/servicio1.png"></ion-img>
        <div class="textochofer">
          <div class="texto">
            <ion-label class="center">CHOFER</ion-label>
            <ion-label class="center">SEGURO</ion-label>
          </div>
          <div class="datos">
            <div class="logo">
              <ion-img src="assets/img/choferlogonegro.png"></ion-img>
            </div>
            <div class="detalle">
              <button ion-button color="secondary">DETALLE</button>
            </div>
          </div>
        </div>
      </div>


      <div class="circle-white-transporte" (click)="irPaginaTransporte()">
        <ion-img style="width: auto; height: auto;" src="assets/img/bordeblanco.png"></ion-img>
      </div>
      <div class="circle-green1-transporte" (click)="irPaginaTransporte()">
        <ion-img style="width: auto; height: auto;" src="assets/img/servicio2.png"></ion-img>
        <div class="textotransporte">
          <div class="textogreen">
            <ion-label class="center">TRANSPORTAR MERCADERIA</ion-label>
          </div>
          <div class="datos">
            <div class="logo">
              <ion-img src="assets/img/logotransporteblanco.png"></ion-img>
            </div>
            <div class="detalle">
              <button ion-button color="secondary">DETALLE</button>

            </div>
          </div>
        </div>
      </div>




      <div class="circle-white-guardia" (click)="irPaginaGuardia()">
        <ion-img style="width: auto; height: auto;" src="assets/img/bordeblanco.png"></ion-img>
      </div>
      <div class="circle-green1-guardia" (click)="irPaginaGuardia()">
        <ion-img style="width: auto; height: auto;" src="assets/img/servicio2.png"></ion-img>
        <div class="textoguardia">
          <div class="textogreen2">
            <ion-label class="center">GUARDIA DE</ion-label>
            <ion-label class="center">SEGURIDAD</ion-label>
          </div>
          <div class="datos">
            <div class="logo">
              <ion-img src="assets/img/guardialogoblanco.png"></ion-img>
            </div>
            <div class="detalle">
              <button ion-button color="secondary">DETALLE</button>
            </div>
          </div>
        </div>
      </div>



    </div>
    <div class="track-servicio">
      <button (click)="dibujarRuta()">Track de tu servicio</button>
    </div>
  </div>


  <div class="back">
    <ion-img style="width: 10; height: 10;" src="../../assets/img/aguilarojafondo.png"></ion-img>
  </div>

</ion-content>