.datos2 {
    margin: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border: 2px;
    margin-top: 1%;
    justify-items: center;
    justify-content: space-between;
}

div h4 {
    font-weight: bold;
    color: #912020;
    text-align: center;
    margin-top: 40%;
}

.botones button {
    text-align: center;
    width: 10rem;
    height: 2.3rem;
    border-radius: 60px;
    background-color: #3887bd;
    color: #ffffff;
    margin-right: 5%;
    justify-content: space-between;
}

.botones {
    margin-left: 5%;
    display: flex;
}

.logo {
    display: block;
    margin: auto;
}

ion-chip {
    width: 16rem;
    height: auto;
    align-self: center;
    background-color: #7b7c7e;
}

.estado {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: small;
}

.topservicios {
    justify-content: center;
    font-co .fecha {
        margin-left: 0;
        margin-right: 15px;
        font-size: 0.5rem;
        justify-content: left;
    }
    .tiposervicio {
        justify-content: center;
        font-weight: bold;
        margin-left: 30px;
    }
    .detalles {
        font-size: 0.5rem;
        justify-content: center;
        margin-right: 0;
        margin-left: 40px;
        justify-content: right;
    }
}

ion-menu-button {
    margin-left: 20px;
    margin-top: 10px;
    min-width: 50px;
    ion-img {
        padding: 2px;
        width: 60px;
        opacity: 0.6;
    }
}

.tope span {
    width: 100%;
    position: absolute;
    background-color: #aaafb4;
    height: 26px;
    top: 62px;
    z-index: 1;
}

.logosepro ion-img {
    position: absolute;
    top: 18px;
    left: auto;
    z-index: 2;
}

div.logosepro {
    display: flex;
    justify-content: center;
}

.sucursales {
    z-index: -1;
    max-width: 80%;
    margin: 0 auto;
}

ion-item {
    font-size: 28px;
}

.back {
    position: absolute;
    text-align: buttom;
    z-index: 1;
    bottom: 0;
}

.creditos {
    z-index: 10;
    left: 50%;
    margin-left: -76px;
    position: absolute;
    bottom: 1em;
    font-family: BebasBold;
    font-size: x-large;
    color: #bf1a24;
    ion-img {
        margin: 0 auto;
        width: 6em;
    }
}
