<ion-content>
  
  <div>
    <ion-buttons slot="start">
        <ion-img src="assets/img/retroceder.png" (click)="regresar()"></ion-img>
    </ion-buttons>
    <div class="tope">
      <span>
      </span>
      <div class="logosepro">
        <ion-img style="width: 160px; height: 150spx;" src="assets/img/logosepro.png"></ion-img>
      </div>
    </div>
  </div>

  
  <div class="titulo">
    <ion-label>Solicitud de servicio</ion-label>
  </div>
  <div class="imagen">   
    <div class="logo">
      <ion-img  src="assets/img/perfilcliente.png"></ion-img>
    </div>
  </div>
  <div class="datos">
    
    <div class="datosChofer" *ngIf=" datosrecibidos.servicio == 'Chofer'" >
      
    
          <ion-label class="negrita ">Servicio:</ion-label>
          <ion-label> {{datosrecibidos.servicio}}</ion-label>
        
          <ion-label class="negrita "> <br/>Fecha de inicio:</ion-label>
          <ion-label> {{fechaInicio}}</ion-label>

          <ion-label class="negrita "> <br/>Hora de inicio: </ion-label>
          <ion-label> {{horaInicio}}</ion-label>

          <ion-label class="negrita "> <br/>Fecha de Finalización: </ion-label>
          <ion-label> {{fechaFinalizacion}}</ion-label>

          <ion-label class="negrita "> <br/>Hora de Finalización: </ion-label>
          <ion-label> {{horaFinalizacion}}</ion-label>

          <ion-label class="negrita "> <br/>Duración: </ion-label>
          <ion-label>{{datosrecibidos.duracion}} </ion-label>

          <ion-label class="negrita "> <br/>Lugar: </ion-label>
          <ion-label> {{direccionOrigen}}</ion-label>

          <ion-label class="negrita "> <br/>Vehículo: </ion-label>
          <ion-label *ngIf=" datosrecibidos.valorvehiculo == true" > Sí</ion-label>
          <ion-label *ngIf=" datosrecibidos.valorvehiculo != true" > No</ion-label>

          <ion-label class="negrita "> <br/>Chofer Guardespaldas: </ion-label>
          <ion-label *ngIf=" datosrecibidos.valorguardaespaldas == true" > Sí</ion-label>
          <ion-label *ngIf=" datosrecibidos.valorguardaespaldas != true" > No</ion-label>
          <ion-label class="negrita "> <br/>Monto: </ion-label>
          <ion-label> Pendiente</ion-label>
      
    </div>
    <div class="datosChofer" *ngIf=" datosrecibidos.servicio == 'Custodia'" >
      
    
      <ion-label class="negrita ">Servicio:</ion-label>
      <ion-label> {{datosrecibidos.servicio}}</ion-label>
    
      <ion-label class="negrita "> <br/>Fecha de inicio:</ion-label>
      <ion-label> {{fechaInicio}}</ion-label>

      <ion-label class="negrita "> <br/>Hora de inicio: </ion-label>
      <ion-label> {{horaInicio}}</ion-label>

      <ion-label class="negrita "> <br/>Lugar de origen: </ion-label>
      <ion-label> {{direccionOrigen}}</ion-label>
      <ion-label class="negrita "> <br/>Lugar de destino: </ion-label>
      <ion-label> {{direccionDestino}}</ion-label>

      <ion-label class="negrita "> <br/>Número de vehículos: </ion-label>
      <ion-label> {{datosrecibidos.cantVehiculo}}</ion-label>

      <ion-label class="negrita "> <br/>Incluir candado satelital:</ion-label>
      <ion-label *ngIf=" datosrecibidos.valorcandado == true" > Sí</ion-label>
      <ion-label *ngIf=" datosrecibidos.valorcandado != true" > No</ion-label>
      <ion-label class="negrita "> <br/>Monto: </ion-label>
      <ion-label> Pendiente</ion-label>
      <div class="botonruta" >
        <button (click)="dibujarRuta()" class="ruta">
            <label >Ver ruta</label>
            <ion-img src="assets/img/ruta.png"></ion-img>
        </button>
      </div>
  
  
    </div>
    <div class="datosChofer" *ngIf=" datosrecibidos.servicio == 'Guardia'" >
      <ion-label class="negrita ">Servicio:</ion-label>
      <ion-label> {{datosrecibidos.servicio}}</ion-label>
    
      <ion-label class="negrita "> <br/>Fecha de inicio:</ion-label>
      <ion-label> {{fechaInicio}}</ion-label>

      <ion-label class="negrita "> <br/>Hora de inicio: </ion-label>
      <ion-label> {{horaInicio}}</ion-label>

      <ion-label class="negrita "> <br/>Fecha de Finalización: </ion-label>
      <ion-label> {{fechaFinalizacion}}</ion-label>

      <ion-label class="negrita "> <br/>Hora de Finalización: </ion-label>
      <ion-label> {{horaFinalizacion}}</ion-label>

      <ion-label class="negrita "> <br/>Duración: </ion-label>
          <ion-label>{{datosrecibidos.duracion}} </ion-label>

      <ion-label class="negrita "> <br/>Lugar: </ion-label>
      <ion-label> {{direccionOrigen}}</ion-label>


      <ion-label class="negrita "> <br/>Número de guardias: </ion-label>
      <ion-label> {{datosrecibidos.cantGuardia}}</ion-label>
      <ion-label class="negrita "> <br/>Monto: </ion-label>
      <ion-label> Pendiente</ion-label>


  
    </div>
    <div class="datosChofer" *ngIf=" datosrecibidos.servicio == 'Transporte'" >
      <ion-label class="negrita ">Servicio:</ion-label>
      <ion-label> {{datosrecibidos.servicio}}</ion-label>
    
      <ion-label class="negrita "> <br/>Fecha de inicio:</ion-label>
      <ion-label> {{fechaInicio}}</ion-label>

      <ion-label class="negrita "> <br/>Hora de inicio: </ion-label>
      <ion-label> {{horaInicio}}</ion-label>

      <ion-label class="negrita "> <br/>Lugar de origen: </ion-label>
      <ion-label> {{direccionOrigen}}</ion-label>
      <ion-label class="negrita "> <br/>Lugar de destino: </ion-label>
      <ion-label> {{direccionDestino}}</ion-label>
      <ion-label class="negrita "> <br/>Monto: </ion-label>
      <ion-label> Pendiente</ion-label>
      <div class="botonruta" >
        <label >Ver ruta</label>
        <button (click)="dibujarRuta()" class="ruta">
            
            <ion-img  src="assets/img/ruta.png"></ion-img>
        </button>
      </div>

      

  
    </div>
    
    

  </div>
  <!--Elegir metodo de pago en la solicitud del servicio-->
  <div class="metodo-pago">
    <ion-label > Elegir metodo de pago</ion-label>
    <ion-select [(ngModel)]="value" (ionChange)="obtenermetodo(value)" okText="Aceptar" cancelText="Cancelar">
      <ion-select-option value="tarjeta">TARJETA CREDITO/DEBITO</ion-select-option>
      <ion-select-option value="efectivo">EFECTIVO</ion-select-option>
    </ion-select>

  </div>
  <div class="botones">
    <div class="confirmar-servicio">
      <button ion-button color="secondary" (click)="confirmar()">Confirmar</button>
    </div>
    <div class="cancelar-servicio">
      <button ion-button color="secondary" (click)="cancelar() " >Cancelar</button>
    </div>

  </div>
  
  
  

</ion-content>
