<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registro']" expand="block" color="primary">Registrarse</ion-button>

        <span class="already">Ya tienes una cuenta?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Ingresar</ion-button>
        <ion-button [routerLink]="['/phone-login']" expand="block" color="danger">Ingresar con celular</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
